/* .mainBtn {
  background: #0b2348;
  color: #fff;
  padding: 8px 35px;
  border-radius: 10px;
  border: none;
}

.topItem {
  position: relative;
}

.topBtn {
  background: #d5e8ff;
  padding: 6px 20px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  font-weight: 500;
}

.subBox,
.listBox {
  background: #d5e8ff;
  padding: 8px 14px;
  margin-bottom: 8px;
  border-radius: 10px;
  position: relative;
  font-size: 14px;
}

.arrow {
  width: 14px;
  height: 2px;
  background: #0b2348;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: -3px;
}

.arrow::after {
  content: "";
  position: absolute;
  top: -3px;
  right: -4px;
  width: 6px;
  height: 6px;
  border-top: 2px solid #0b2348;
  border-right: 2px solid #0b2348;
  transform: rotate(45deg);
} */


